@import "tailwindcss";

@theme {
  --color-gray_color: #808080;
  --color-brown_color: #804000;
  --color-green_color: #008000;
  --color-cyan_color: #00c0c0;
  --color-blue_color: #0000ff;
  --color-yellow_color: #c0c000;
  --color-orange_color: #ff8000;
  --color-red_color: #ff0000;
  --color-black_color: #000000;
}
